.container {
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  padding: 0 0.5rem;
  width: 100%;
}

.input {
  display: flex;
  flex: 1;
  margin: 0.5rem 1rem 0 0;
  border: none;
}

.send {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.send:hover {
  align-items: center;
  background-color: silver;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}